<section>
	<div class="container">
		<div class="row d-flex flex-row flex-wrap">
			<div class="col">
				<p class="footer-text">
					<a href="https://blog.type-recorder.com/privacy-policy/">Privacy Policy</a> | <a href="https://blog.type-recorder.com/terms-conditions/">Terms & Conditions</a>
				</p>
				<p class="footer-text"><strong>type-translator</strong> | Copyright 2020 <strong>type-recorder LLC</strong> | All Rights Reserved</p>
			</div>
		</div>
	</div>
</section>