<section>
	<div class="container">
		<div class="row d-flex flex-row flex-wrap">
			<div class="col">
				<p class="footer-text">
					<a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-and-conditions">Terms & Conditions</a>
				</p>
				<p class="footer-text"><strong>type-translator-tutorial</strong> | Copyright 2020 <strong>type-recorder LLC</strong> | All Rights Reserved</p>
			</div>
		</div>
	</div>
</section>