<!doctype html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="wrapper">

        <header>
            <% include ../partials/nav.ejs %>
        </header>

        <main>
            <div class="container">
                <div class="row mb-2">
                    <div class="col">
                        <h1>About type-translator</h1>
                        <hr />
                    </div>
                </div>
                <div class="row mb-2">
                    <!-- Left portion of page -->
                    <div class="col-md-8">
                        <div class="container clearfix">
                            <div class="row mb-2">
                                <div class="col">
                                    <p>
                                        <i>type-translator</i> is designed to accept text input from a user and to translate this text to the desired output language.
                                        For now, the app is a simple service primarily for education and fun. Those interested in learning how to develop an app like this
                                        can read on to learn about the app and see the source code.
                                    </p>
                                    <p>
                                        <i>type-translator</i> is a web application built using Node.js and Express 4 (and EJS). The front end is supported by <strong>Javascript</strong>,
                                        <strong>jQuery</strong>, and <strong>Bootstrap 4</strong>
                                        (Bootstrap likely being obvious <i class='far fa-grin-beam-sweat'></i> ).
                                        We hope that <i>type-translator</i> proves to be a fun, useful tool!
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="card border-dark">
                                        <div class="card-body text-primary">
                                            <h5 class="card-title">
                                                <svg class="bi bi-hammer" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M9.812 1.952a.5.5 0 0 1-.312.89c-1.671 0-2.852.596-3.616 1.185L4.857 5.073V6.21a.5.5 0 0 1-.146.354L3.425 7.853a.5.5 0 0 1-.708 0L.146 5.274a.5.5 0 0 1 0-.706l1.286-1.29a.5.5 0 0 1 .354-.146H2.84C4.505 1.228 6.216.862 7.557 1.04a5.009 5.009 0 0 1 2.077.782l.178.129z" />
                                                    <path fill-rule="evenodd" d="M6.012 3.5a.5.5 0 0 1 .359.165l9.146 8.646A.5.5 0 0 1 15.5 13L14 14.5a.5.5 0 0 1-.756-.056L4.598 5.297a.5.5 0 0 1 .048-.65l1-1a.5.5 0 0 1 .366-.147z" />
                                                </svg>
                                                Build this App!
                                            </h5>
                                            <p class="card-text">
                                                This Node.js application was built thanks to <strong>open-source software</strong>!
                                                Interested in building an app like this? Check out this tutorial by Loran Saggu,
                                                the author of the <i>type-recorder</i> application.
                                            </p>
                                            <a href="https://blog.type-recorder.com/lets-build-a-web-app/" target="_blank" class="btn btn-primary">
                                                Tutorial
                                                <svg class="bi bi-box-arrow-up-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z" clip-rule="evenodd"></path>
                                                    <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"></path>
                                                </svg>
                                            </a>
                                            <a href="https://www.type-recorder.com" target="_blank" class="btn btn-secondary">
                                                type-recorder
                                                <svg class="bi bi-box-arrow-up-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z" clip-rule="evenodd"></path>
                                                    <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Right portion of page -->
                    <div class="col-md-4">
                        <div class="container">
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="card border-dark mb-3">
                                        <img class="card-img" src="/images/keyboard.jpg" alt="That's me!">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row"> <!-- Advertisement Row -->
                    <div class="col"></div>
                    <div class="col mb-2">
                        <!-- Large ads -->
                        <div class="aws-flex-center d-none d-md-block">
                            <script type="text/javascript">
                                amzn_assoc_ad_type = "banner";
                                amzn_assoc_marketplace = "amazon";
                                amzn_assoc_region = "US";
                                amzn_assoc_placement = "assoc_banner_placement_default";
                                amzn_assoc_campaigns = "computers_accesories";
                                amzn_assoc_banner_type = "category";
                                amzn_assoc_p = "48";
                                amzn_assoc_isresponsive = "false";
                                amzn_assoc_banner_id = "1HA0E4HMD35YCKKM2VR2";
                                amzn_assoc_width = "728";
                                amzn_assoc_height = "90";
                                amzn_assoc_tracking_id = "typerecorder-20";
                                amzn_assoc_linkid = "a0bc3d1708dd2bda280baa0d5bf17e70";
                            </script>
                            <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
                        </div>
                        <!-- small ad -->
                        <div class="aws-flex-center d-md-none">
                            <script type="text/javascript">
                                amzn_assoc_ad_type = "banner";
                                amzn_assoc_marketplace = "amazon";
                                amzn_assoc_region = "US";
                                amzn_assoc_placement = "assoc_banner_placement_default";
                                amzn_assoc_campaigns = "computers_accesories";
                                amzn_assoc_banner_type = "category";
                                amzn_assoc_p = "21";
                                amzn_assoc_isresponsive = "false";
                                amzn_assoc_banner_id = "1SHGCFFM6T54YWBQH8G2";
                                amzn_assoc_width = "125";
                                amzn_assoc_height = "125";
                                amzn_assoc_tracking_id = "typerecorder-20";
                                amzn_assoc_linkid = "02732ffd35259fa47362b0607e83e68b";
                            </script>
                            <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col mb-2">
                        <!-- large ad -->
                        <div class="aws-flex-center d-none d-md-block">
                            <script type="text/javascript">
                                amzn_assoc_ad_type = "banner";
                                amzn_assoc_marketplace = "amazon";
                                amzn_assoc_region = "US";
                                amzn_assoc_placement = "assoc_banner_placement_default";
                                amzn_assoc_campaigns = "software";
                                amzn_assoc_banner_type = "category";
                                amzn_assoc_p = "48";
                                amzn_assoc_isresponsive = "false";
                                amzn_assoc_banner_id = "1BHK0X94Y5YT7HT1V482";
                                amzn_assoc_width = "728";
                                amzn_assoc_height = "90";
                                amzn_assoc_tracking_id = "typerecorder-20";
                                amzn_assoc_linkid = "fa4702fe4db61b58da7d0dbcad12e111";
                            </script>
                            <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
                        </div>
                        <!-- Small ad -->
                        <div class="aws-flex-center d-md-none">
                            <script type="text/javascript">
                                amzn_assoc_ad_type = "banner";
                                amzn_assoc_marketplace = "amazon";
                                amzn_assoc_region = "US";
                                amzn_assoc_placement = "assoc_banner_placement_default";
                                amzn_assoc_campaigns = "software";
                                amzn_assoc_banner_type = "category";
                                amzn_assoc_p = "21";
                                amzn_assoc_isresponsive = "false";
                                amzn_assoc_banner_id = "04C5ABEVY3RE1CKZSAG2";
                                amzn_assoc_width = "125";
                                amzn_assoc_height = "125";
                                amzn_assoc_tracking_id = "typerecorder-20";
                                amzn_assoc_linkid = "0e44fc34bb91fb2686e8a45f18a01380";
                            </script>
                            <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
                        </div>
                    </div>
                    <div class="col"></div>
                </div> <!-- END: Advertisement Row -->
                <div class="row mb-2">
                    <div class="col-md-5"></div>
                    <div class="col-md-2" style="border-top-style:solid;">
                        <img src="/images/type-recorder-favicon_2.png" width="100%" />
                    </div>
                    <div class="col-md-5"></div>
                </div>
</main>

        <div class="push"></div>
    </div>

    <footer class="footer">
        <% include ../partials/footer.ejs %>
    </footer>

    <!-- Scripts -->
    <% include ../partials/scripts.ejs %>
    <script src="./scripts/about.js"></script>

</body>
</html>