<!doctype html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="wrapper">

        <header>
            <% include ../partials/nav.ejs %>
        </header>

        <main>
            <div class="container">
                <div class="row mb-2">
                    <div class="col">
                        <h1>Privacy Policy</h1>
                        <p>UPDATE THIS CONTENT</p>
                    </div>
                </div>
            </div>
        </main>

        <div class="push"></div>
    </div>

    <footer class="footer">
        <% include ../partials/footer.ejs %>
    </footer>

    <!-- Scripts -->
    <% include ../partials/scripts.ejs %>

</body>
</html>