<!doctype html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="wrapper">

        <header>
            <% include ../partials/nav.ejs %>
        </header>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="display-1">Terms & Conditions</h1>
                        <h2>Definitions</h2>
                        <ul>
                            <li><strong>Owner</strong> or <strong>Owners</strong> refers to the owners, creators, agents, partners, and representatives of the type-recorder website, web application, and blog.</li>
                            <li>
                                <strong>type-recorder</strong> refers to any content, products, services, features, and the like of the type-recorder website, application, or blog, as well as the
                                type-recorder webiste, application, and blog as an entity.
                            </li>
                            <li>
                                <strong>User</strong> or <strong>Users</strong> refers to any individual persons, group of people, or organization or organizational entity of any kind that makes use of
                                <strong>type-recorder</strong> as defined above.
                            </li>
                            <li>
                                <strong>Content</strong> refers to any type of content (text, images, files, etc.) input, downloaded, or uploaded to or from type-recorder by any user or owner.
                            </li>
                        </ul>
                        <h2>Usage</h2>
                        <p>
                            Use of the type-recorder application, website, blog, or any affiliated service, product, content, or the like by a user is at the will of the user.
                            type-recorder is not nor are its owners responsible for usage of type-recorder by any user. type-recorder does not nor do its owners obligate any use of any feature
                            by any user.
                        </p>
                        <p>
                            Users supply their own text content when interacting with the type-recorder text-to-speech application. Users are responsible for complying with any applicable
                            rules or laws when sourcing content or utilizing content produced by type-recorder.
                        </p>
                        <h2>Liability</h2>
                        <p>
                            type-recorder is not nor are its owners liable for the use or misuse by any user of the content provided to and/or produced by type-recorder. 
                            The user is responsible for any use of content from type-recorder produced or taken or copied by the user however modified or unmodified. 
                        </p>
                        <h2>Reservation of Rights</h2>
                        <p>
                            type-recorder and Owners reserve all rights to modify these terms and conditions or the privacy policy at any time for any reason without notice to any user.
                        </p>
                        <p>
                            type-recorder and Owners reserve all rights to modify, update, or enhance type-recorder and any of its components as defined for any reason at any time without
                            notice to any user.
                        </p>
                        <h2>User Rights</h2>
                        <p>
                            User has a right to privacy under the law as defined by the law and international privacy standards. type-recorder does not track or keep user data
                            beyond what is required to ensure adequate delivery of application services. For example, the text entered by a user in the text-to-speech application
                            may be saved in the form of text or an audio file for an indeterminate period of time until deleted by the type-recorder application or type-recorder
                            application hosting system. Neither the owners nor type-recorder keep, sell, or track this information.
                        </p>
                        <p>
                            type-recorder does supply information to external services for the purposes of processing text-to-speech and generating type-recorder application output.
                        </p>
                        <p>
                            For more information on privacy and how information is handled by other parties, see the type-recorder <a href="/privacy-policy">privacy policy</a>.
                        </p>
                    </div>
                </div>
                <hr />
                <div class="row mb-2">
                    <div class="col-md-5"></div>
                    <div class="col-md-2" style="border-top-style:solid;">
                        <img src="/images/type-recorder-favicon_2.png" width="100%" />
                    </div>
                    <div class="col-md-5"></div>
                </div>
            </div>
        </main>

        <div class="push"></div>
    </div>

    <footer class="footer">
        <% include ../partials/footer.ejs %>
    </footer>

    <!-- Scripts -->
    <% include ../partials/scripts.ejs %>

</body>
</html>